In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from datetime import datetime

from pandas_profiling import ProfileReport

print("Pandas Version: " + pd.__version__)
print("Numpy Version: " + np.__version__)

Pandas Version: 1.2.0
Numpy Version: 1.18.5

In [3]:
trips = pd.read_csv("../data/clean/trips.csv", parse_dates=['date_from', 'date_until'])

In [4]:
trips.head()

,bike_id,user_id,date_from,date_until,start_station_name,start_station_id,end_station_name,end_station_id,booked_via,duration_in_min,distance_in_km
0,143517,A821059B555C7764A2FF801180874A2FCB326222,2014-01-01 00:34:54,2014-01-01 00:50:14,U-Bahn Baumwall,214170,Mönckebergstraße / Rosenstraße,131880,iPhone SRH,16,1.293661
1,119830,1EBC930DB407ACEAE2FDE23A6CA40492EA3DFBB2,2014-01-01 01:39:55,2014-01-01 01:57:27,Bahnhof Altona Ost/Max-Brauer-Allee,131646,Schulterblatt/Eifflerstraße,131648,Android SRH,18,2.032271
2,143501,7AD2C1B70137479062A6DD73815835986677BB2D,2014-01-01 01:40:20,2014-01-01 01:53:09,Weidestraße/Biedermannplatz,211922,Jarrestraße / Rambatzweg,138376,Techniker HH_119 (-2334-),13,0.954178
3,108641,4F4F752203EA6FC872D576E9289C4E1B362E16F6,2014-01-01 02:05:55,2014-01-01 02:13:49,Mundsburg / Schürbeker Straße,140799,Bartholomäusstraße/Beim Alten Schützenhof,211923,iPhone SRH,8,0.693159
4,143829,FEA7FF33A3252EE99E58B9E15724AA861CAB1DDF,2014-01-01 02:29:03,2014-01-01 02:32:41,Krausestraße/Eilbektal,208295,Lortzingstraße/Friedrichsberger Straße,213833,iPhone SRH,4,0.645564

In [5]:
stations = pd.read_csv("../data/clean/station_trips_weather.csv")

In [6]:
stations.head()

,datetime,station_name,check_ins,check_outs,diff,precip_intensity,precip_probability,precip_type,temperature,humidity,wind_speed,wind_bearing,uv_index,visibility
0,2014-01-01 00:00:00,Allende-Platz/Grindelhof,0,5,-5,0.0,0.0,none,1.93,0.81,3.91,161.0,0.0,9.988
1,2014-01-01 00:00:00,Alsenstraße/Düppelstraße,3,0,3,0.0,0.0,none,1.93,0.81,3.91,161.0,0.0,9.988
2,2014-01-01 00:00:00,Alsterdorf Markt/Evangelische Stiftung,0,0,0,0.0,0.0,none,1.93,0.81,3.91,161.0,0.0,9.988
3,2014-01-01 00:00:00,Alsterdorfer Straße/Fuhlsbüttler Straße,0,0,0,0.0,0.0,none,1.93,0.81,3.91,161.0,0.0,9.988
4,2014-01-01 00:00:00,Alsterschwimmhalle/Ifflandstraße,0,0,0,0.0,0.0,none,1.93,0.81,3.91,161.0,0.0,9.988