In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl

from matplotlib import pyplot as plt

%matplotlib inline
mpl.style.use("seaborn")

plt.rc("figure", figsize=(16,8))
plt.rc("font", size=13)

print("Pandas Version: " + pd.__version__)
print("Numpy Version: " + np.__version__)
print("Seaborn Version: " + sns.__version__)

Pandas Version: 1.2.0
Numpy Version: 1.18.5
Seaborn Version: 0.11.1

In [ ]:
df_trips = pd.read_csv("../data/clean/trips.csv", parse_dates=["date_from", "date_until"])
df_trips.head(3)

In [ ]:
trips = df_trips.set_index("date_from")

In [ ]:
tmp = trips.resample("M").count()
tmp.plot(
    legend=False, 
    title="Number of trips per month",
    xlabel="month",
    ylabel="count",
)

In [ ]:
tmp = trips.resample("D").count()
tmp.plot(
    legend=False,
    title="Number of trips per day",
    xlabel="day",
    ylabel="count",
)

In [2]:
df = pd.read_csv("../data/clean/station_trips_weather.csv", parse_dates=["datetime"]).set_index("datetime")
df.sample(5)

,station_name,check_ins,check_outs,diff,precip_intensity,precip_probability,precip_type,temperature,humidity,wind_speed,wind_bearing,uv_index,visibility
datetime,,,,,,,,,,,,,
2016-06-13 14:00:00,Vierlandenstraße/Johann-Adolf-Hasse-Platz,0,0,0,0.0087,0.07,rain,16.93,0.81,2.80,101.0,5.0,9.595
2015-02-18 08:00:00,Isestraße / Hoheluftbrücke,4,3,1,0.0000,0.00,none,0.16,0.96,6.45,230.0,0.0,1.891
2014-07-02 01:00:00,Mittelweg/Sophienterrasse-NDR,0,0,0,0.5477,0.51,rain,11.96,0.96,2.58,253.0,0.0,10.003
2017-01-19 22:00:00,Uferstraße/Wagnerstraße,1,0,1,0.0000,0.00,none,0.60,0.69,1.09,229.0,0.0,10.003
2014-09-10 07:00:00,Bahnhof Dammtor Nord // Theodor-Heuss-Platz,0,1,-1,0.0000,0.00,none,13.88,0.88,2.37,271.0,0.0,9.191

In [22]:
from sklearn import preprocessing

x = df.drop(["station_name", "precip_type"], axis=1).values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
scaled = pd.DataFrame(x_scaled)
scaled

,0,1,2,3,4,5,6,7,8,9,10
0,0.000000,0.046729,0.534884,0.0,0.0,0.288866,0.753247,0.270214,0.448468,0.000000,0.618294
1,0.027273,0.000000,0.581395,0.0,0.0,0.288866,0.753247,0.270214,0.448468,0.000000,0.618294
2,0.000000,0.000000,0.563953,0.0,0.0,0.288866,0.753247,0.270214,0.448468,0.000000,0.618294
3,0.000000,0.000000,0.563953,0.0,0.0,0.288866,0.753247,0.270214,0.448468,0.000000,0.618294
4,0.000000,0.000000,0.563953,0.0,0.0,0.288866,0.753247,0.270214,0.448468,0.000000,0.618294
...,...,...,...,...,...,...,...,...,...,...,...
6142651,0.009091,0.009346,0.563953,0.0,0.0,0.538144,0.623377,0.241189,0.768802,0.571429,0.619232
6142652,0.000000,0.000000,0.563953,0.0,0.0,0.538144,0.623377,0.241189,0.768802,0.571429,0.619232
6142653,0.018182,0.037383,0.552326,0.0,0.0,0.538144,0.623377,0.241189,0.768802,0.571429,0.619232
6142654,0.000000,0.018692,0.552326,0.0,0.0,0.538144,0.623377,0.241189,0.768802,0.571429,0.619232
6142655,0.009091,0.009346,0.563953,0.0,0.0,0.538144,0.623377,0.241189,0.768802,0.571429,0.619232