In [1]:
import json
import pandas as pd
import numpy as np

print("Pandas Version: " + pd.__version__)
print("Numpy Version: " + np.__version__)

Pandas Version: 1.2.0
Numpy Version: 1.18.5

In [2]:
FREQUENT_USER_ACTIVE_DAYS_MIN = 28
FREQUENT_USER_THRESHOLD = 4

In [13]:
trips = pd.read_csv("../data/clean/trips.csv", parse_dates=['date_from', 'date_until'])

In [14]:
trips.head()

,bike_id,user_id,date_from,date_until,from_station_name,from_station_id,to_station_name,to_station_id,booked_via,duration_in_min
0,143517,A821059B555C7764A2FF801180874A2FCB326222,2014-01-01 00:34:54,2014-01-01 00:50:14,U-Bahn Baumwall,214170,Mönckebergstraße / Rosenstraße,131880,iPhone SRH,16
1,119830,1EBC930DB407ACEAE2FDE23A6CA40492EA3DFBB2,2014-01-01 01:39:55,2014-01-01 01:57:27,Bahnhof Altona Ost/Max-Brauer-Allee,131646,Schulterblatt/Eifflerstraße,131648,Android SRH,18
2,143501,7AD2C1B70137479062A6DD73815835986677BB2D,2014-01-01 01:40:20,2014-01-01 01:53:09,Weidestraße/Biedermannplatz,211922,Jarrestraße / Rambatzweg,138376,Techniker HH_119 (-2334-),13
3,108641,4F4F752203EA6FC872D576E9289C4E1B362E16F6,2014-01-01 02:05:55,2014-01-01 02:13:49,Mundsburg / Schürbeker Straße,140799,Bartholomäusstraße/Beim Alten Schützenhof,211923,iPhone SRH,8
4,143829,FEA7FF33A3252EE99E58B9E15724AA861CAB1DDF,2014-01-01 02:29:03,2014-01-01 02:32:41,Krausestraße/Eilbektal,208295,Lortzingstraße/Friedrichsberger Straße,213833,iPhone SRH,4

In [5]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7685861 entries, 0 to 7685860
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   bike_id            int64
 1   user_id            object
 2   date_from          datetime64[ns]
 3   date_until         datetime64[ns]
 4   from_station_name  object
 5   from_station_id    int64
 6   to_station_name    object
 7   to_station_id      int64
 8   booked_via         object
 9   duration_in_min    int64
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 586.4+ MB

In [62]:
weather = pd.read_csv("../data/clean/weather.csv")

In [63]:
weather.head()

,datetime,precip_intensity,precip_probability,precip_type,temperature,humidity,wind_speed,wind_bearing,uv_index,visibility
0,2014-01-01 00:00:00+01:00,0.0,0.0,none,1.93,0.81,3.91,161.0,0.0,9.988
1,2014-01-01 01:00:00+01:00,0.0,0.0,none,1.94,0.85,4.56,140.0,0.0,6.004
2,2014-01-01 02:00:00+01:00,0.0,0.0,none,1.81,0.85,4.12,143.0,0.0,9.988
3,2014-01-01 03:00:00+01:00,0.0,0.0,none,1.75,0.81,3.70,154.0,0.0,9.988
4,2014-01-01 04:00:00+01:00,0.0,0.0,none,1.72,0.82,4.36,149.0,0.0,9.988

In [15]:
# Convert string timestamp into dataframe and add numerical values

#trips['from_year'] = pd.DatetimeIndex(trips['date_from']).year
#trips['from_month'] = pd.DatetimeIndex(trips['date_from']).month
#trips['from_day'] = pd.DatetimeIndex(trips['date_from']).day
#trips['from_hour'] = pd.DatetimeIndex(trips['date_from']).hour
#trips['from_minute'] = pd.DatetimeIndex(trips['date_from']).minute
#trips['from_weekday'] = pd.DatetimeIndex(trips['date_from']).weekday

In [16]:
# Convert string timestamp into dataframe and add numerical values

#trips['until_year'] = pd.DatetimeIndex(trips['date_until']).year
#trips['until_month'] = pd.DatetimeIndex(trips['date_until']).month
#trips['until_day'] = pd.DatetimeIndex(trips['date_until']).day
#trips['until_hour'] = pd.DatetimeIndex(trips['date_until']).hour
#trips['until_minute'] = pd.DatetimeIndex(trips['date_until']).minute
#trips['until_weekday'] = pd.DatetimeIndex(trips['date_until']).weekday

In [64]:
# Add 'datetime' as key in preparation for merging trip and weather data

trips['merge_datetime'] = pd.to_datetime(pd.DataFrame(
    {
        'year': pd.DatetimeIndex(trips['date_from']).year,
        'month': pd.DatetimeIndex(trips['date_from']).month,
        'day': pd.DatetimeIndex(trips['date_from']).day,
        'hour': pd.DatetimeIndex(trips['date_from']).hour
    }
))

In [61]:
#weather['merge_datetime'] = pd.to_datetime(pd.DataFrame(
#    {
#        'year': weather['datetime'].dt.year,
#        'month': weather['datetime'].dt.month,
#        'day': weather['datetime'].dt.day,
#        'hour': weather['datetime'].dt.hour
#    }
#))

AttributeError: Can only use .dt accessor with datetimelike values

In [18]:
trips.sample(3)

,bike_id,user_id,date_from,date_until,from_station_name,from_station_id,to_station_name,to_station_id,booked_via,duration_in_min,...,from_day,from_hour,from_minute,from_weekday,until_year,until_month,until_day,until_hour,until_minute,until_weekday
1558995,117490,3A26152C28E3A9B0FF4D0A620190DE5C880FFA16,2014-09-14 18:05:07,2014-09-14 18:19:04,Leinpfad/Fernsicht,224650,Eppendorfer Weg/Hoheluftchaussee,198086,iPhone SRH,14,...,14,18,5,6,2014,9,14,18,19,6
3388670,117565,0B7BC5666B49A56101C23C28B4A788E38030FA1B,2015-08-10 12:32:58,2015-08-10 13:03:32,Sternschanze / Eingang Dänenweg,139501,Neuer Pferdemarkt / Beim Grünen Jäger,131890,Terminal HH_6 (-2133-),31,...,10,12,32,0,2015,8,10,13,3,0
182620,117539,11A38BA45043505EA743F80090B037F458B004FD,2014-02-25 15:59:27,2014-02-25 16:26:40,Bahnhof Altona West / Busbahnhof,131889,Ottenser Marktplatz/Museumsstraße,131645,Terminal HH_54 (-2122-),28,...,25,15,59,1,2014,2,25,16,26,1

In [19]:
weather.sample(3)

,datetime,precip_intensity,precip_probability,precip_type,temperature,humidity,wind_speed,wind_bearing,uv_index,visibility
27261,2017-02-09 21:00:00+01:00,0.0,0.0,none,-2.78,0.69,2.76,78.0,0.0,9.595
9222,2015-01-20 06:00:00+01:00,0.0,0.0,none,0.66,0.88,1.04,199.0,0.0,5.409
22802,2016-08-08 03:00:00+02:00,0.0,0.0,none,19.42,0.81,2.24,212.0,0.0,10.003

In [ ]:
# Add weather data to every trip

trips = pd.merge(df, weather, on='merge_datetime', left_index=False, right_index=False, how='left', sort=False)
trips.sample(5)

In [ ]:
# Select unique user IDs and identify first and last rental as well as number of entries per user

user_trip_dates = trips.groupby(['user_id'], as_index=False).agg({'date_from': [np.min,np.max]})
user_trip_dates.columns = pd.Index(['user_id', 'date_from_min', 'date_from_max'])

user_trip_count = trips['user_id'].value_counts()

user_df = pd.DataFrame({'user_id': user_trip_count.index, 'trips_count': user_trip_count.values})
user_df = user_trip_dates.merge(user_df)

user_df['active_period_in_days'] = user_df.apply(lambda x: (x['date_from_max'] - x['date_from_min']).days, axis=1)

In [ ]:
# heuristic for determining if a user is 'casual' or 'frequent'

def is_frequent_user(trips_count, active_period_in_days):
    return (
        (active_period_in_days / trips_count) <= FREQUENT_USER_THRESHOLD
    ) & (
        active_period_in_days >= FREQUENT_USER_ACTIVE_DAYS_MIN
    )

user_df['is_frequent_user'] = user_df.apply(lambda x: is_frequent_user(x['trips_count'], x['active_period_in_days']), axis=1)

In [ ]:
user_df[user_df.is_frequent_user == True].sample(5)

In [ ]:
user_df[user_df.is_frequent_user == False].sample(5)

In [ ]:
user_df.to_csv("../data/users.csv", index=False)

In [ ]:
frequent_user_ids = user_df[user_df.is_frequent_user == True].user_id.unique()

frequent_user_trips = trips.loc[trips['user_id'].isin(frequent_user_ids)]
casual_user_trips = trips.loc[~trips['user_id'].isin(frequent_user_ids)]

In [ ]:
# Add user type to combined trip data

frequent_user_mask = trips['user_id'].isin(frequent_user_ids)
trips['user_type'] = pd.Categorical(np.where(frequent_user_mask, 'frequent', 'casual'))

In [ ]:
frequent_user_trips.to_csv("../data/frequent_user_trips.csv", index=False)

In [ ]:
casual_user_trips.to_csv("../data/casual_user_trips.csv", index=False)

In [ ]:
trips.to_csv("../data/all_trips.csv", index=False)

In [ ]:
station_count = pd.merge(station_count, weather, on='datetime', left_index=False, right_index=False, how='left', sort=False)
station_count.sample(5)